.cart-and-balance {
  &__price {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__notif {
    display: inline-block;
    position: relative;
    margin-right: 15px;

    &-length {
      position: absolute;
      top: -5px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 22px;
      height: 22px;
      background-color: red;
      font-size: 0.5rem;
      color: white;
    }
  }
}
