// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
// Scrollbar Track
::-webkit-scrollbar-track {
  background-color: $dark;
}
// Scrolbar Handle
::-webkit-scrollbar-thumb {
  background-color: $light-color-3;
  &:hover {
    background-color: $navy-dark;
  }
}
