.header {
  &__top {
    padding: 15px 0;
    background-color: #1e1e1e;
    font-size: 0.9rem;
    color: $light-color-3;
  }

  &__middle {
    padding: 15px 0;

    &-search {
      background: #1e1e1e;
      border-color: $light-color-3;
      color: $light-color;
      font-family: $font-family-base;

      &:focus {
        background-color: #1e1e1e;
        border-color: $light-color-3;
        box-shadow: 0 0 0 0.2rem rgba(242, 202, 126, 0.1);
        color: $light-color;
      }
    }

    &-search-append {
      background-color: $dark;
      color: unset;
      border-color: $light-color-3;
    }
  }

  &__bottom {
    padding: 15px 0;
    background-color: #1e1e1e;
    border-color: $light-color-3;

    &-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media (min-width: $bp-lg) {
        justify-content: space-evenly;
        width: 70%;
        margin: 0 auto;
      }

      &_item {
        display: inline-block;
        padding: 0.15rem;
        background: #1e1e1e;
        text-transform: capitalize;
        color: $light-color;
      }
    }
  }
}
